@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";
@import "./prism.css";
@import "./components.css";

html {
    @apply duration-300 transition-colors ease-in bg-slate-100 text-slate-600;
}

html.dark {
    @apply text-white bg-zinc-900;
}

.dark {
    color-scheme: dark;
}

html,
body,
#__next {
    min-height: 100%;
    scroll-padding: 4.5rem;
    font-family: "Inter", sans-serif;
}
