.markdown-side-item {
  position: sticky;
  top: 4.75rem;
  will-change: transform;
  height: fit-content;
}

.markdown {
  @apply text-text-paragraph;
}

.markdown p {
  @apply mt-1 mb-2 antialiased lining-nums whitespace-pre-wrap break-words w-full container mx-auto leading-relaxed;
}

.markdown a {
  @apply hover:underline no-underline text-main-normal;
}

.markdown table {
  @apply table table-fixed border-collapse border border-border-neutral mb-4;
}

.markdown tr {
  @apply border-b border-border-neutral p-2;
}

.markdown tr:last-child {
  @apply border-b-0;
}

.markdown td,
.markdown th {
  @apply p-2;
}

.markdown blockquote {
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

.markdown .contains-task-list {
  @apply mt-2 mb-4;
}

.markdown .task-list-item {
  @apply flex items-center gap-x-1;
}

.markdown .footnotes {
  @apply my-4 pt-2;
}

.markdown dl {
  @apply my-1;
}

.markdown dt {
  @apply font-bold;
}

.markdown dd {
  @apply font-thin italic ml-4 mb-2;
}

.markdown code:not([class]) {
  @apply bg-code text-word px-1 py-0.5 rounded font-extrabold italic;
}

.markdown .code-highlight {
  @apply mb-4;
}
