.tab-container::-webkit-scrollbar {
  background-color: transparent;
  height: 0.1rem;
  width: 0.5rem;
}

.tab-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.tab-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.tab-container::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.inkbar {
  height: 0.2rem;
  transition: all 350ms cubic-bezier(0.28, 0.5, 0.51, 0.87);
}
